<!DOCTYPE html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href="/static/index.css" rel="stylesheet">
</head>

<body class="bg-black text-white">
  <div class="p-4 mb-4">
    <a href="/" class="text-2xl font-bold uppercase hover:text-teal">Penumbra Summoning Ceremony</a>
  </div>

  <div class="space-y-8 mx-auto w-3/4">
    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <img class="rounded-lg" src="/static/summoning.jpg"></img>
    </div>
    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <div class="relative z-10 p-4 text-lg">
        <div class="mb-4">
          <a href="/phase/1" class="font-bold text-3xl bg-text-linear bg-clip-text text-transparent mb-4">Phase 1
            Status →</a>
        </div>
        <div>
          {% if phase_number == 1 %}
          <span>Active!</span>
          <span class="font-bold">{{ phase_1_completed }}</span>
          <span>completed,</span>
          <span class="font-bold">{{ phase_1_participants_top_median.as_ref().unwrap().0 }}</span>
          <span>waiting,</span>
          <span>top bid</span>
          <span class="font-mono">{{ phase_1_participants_top_median.as_ref().unwrap().1 }}</span>,
          <span>median bid</span>
          <span class="font-mono">{{ phase_1_participants_top_median.as_ref().unwrap().2 }}</span>
          {% else %}
          <span>Completed, {{ phase_1_completed }} contributions.</span>
          {% endif %}
        </div>
      </div>
      <div class="absolute inset-0 z-0 rounded-lg bg-card-radial opacity-20"></div>
    </div>

    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <div class="relative z-10 p-4 text-lg">
        <div class="mb-4">
          <a href="/phase/2" class="font-bold text-3xl bg-text-linear bg-clip-text text-transparent mb-4">Phase 2
            Status →</a>
        </div>
        <div>
          {% if phase_number == 1 %}
          <span>Waiting for Phase 1...</span>
          {% else %}
          <span>Active!</span>
          <span class="font-bold">{{ phase_2_completed }}</span>
          <span>completed,</span>
          <span class="font-bold">{{ phase_2_participants_top_median.as_ref().unwrap().0 }}</span>
          <span>waiting,</span>
          <span>top bid</span>
          <span class="font-mono">{{ phase_2_participants_top_median.as_ref().unwrap().1 }}</span>,
          <span>median bid</span>
          <span class="font-mono">{{ phase_2_participants_top_median.as_ref().unwrap().2 }}</span>
          {% endif %}
        </div>
      </div>
      <div class="absolute inset-0 z-0 rounded-lg bg-card-radial opacity-20"></div>
    </div>

    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <div class="relative z-10 p-4 space-y-2">
        <h2 class="font-bold text-3xl bg-text-linear bg-clip-text text-transparent">How to Contribute</h2>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Installing <span class="font-mono">pcli</span></h3>
        <p>
          Ceremony contributions require using the command line interface, called <span class="font-mono">pcli</span>.
          This section contains instructions on building this tool from source.
          You may also want to look at the <a href="https://guide.penumbra.zone/main/pcli.html" class="underline">Penumbra Guide</a>
          for more information.
        </p>
        <h4 class="font-bold text-lg pt-2">Installing the Rust Toolchain</h3>
        <p>
            This requires that you install a recent stable version of the Rust compiler.
            You can do this with <a href="https://www.rust-lang.org/learn/get-started" class="underline">these installation instructions</a>.
            Don't forget to reload your shell so that <span class="font-mono">cargo</span> is readily available.
        </p>
        <p>
            You'll also want to install <span class="font-mono">rustfmt</span>, by running the following command:
        </p>
        <pre
          class="text-sm my-8 p-2 bg-charcoal rounded-lg">rustup component add rustfmt</pre>
        <h4 class="font-bold text-lg pt-2">Installing Build Prerequisites</h3>
        <h5 class="font-bold pt-2">Linux</h3>
        <p>
            You may need to install some additional packages in order to build <span class="font-mono">pcli</span>,
            depending on your distribution.
            For a bare-bones Ubuntu installation, you can run:
        </p>
        <pre
          class="text-sm my-8 p-2 bg-charcoal rounded-lg">sudo apt-get install build-essential pkg-config libssl-dev clang git-lfs</pre>
        <p>
          For a minimal Fedora/CentOS/RHEL image, you can run:
        </p>
        <pre
          class="text-sm my-8 p-2 bg-charcoal rounded-lg">sudo dnf install openssl-devel clang git cargo rustfmt git-lfs</pre>
        <h5 class="font-bold pt-2">MacOS</h3>
        <p>
          You may need to install the command-line developer tools (if you haven't already):
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">xcode-select --install</pre>
        <p>
          You'll also need to install Git LFS, which you can do <a href="xcode-select --install" class="underline">via Homebrew</a>:
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">brew install git-lfs</pre>
        <h4 class="font-bold text-lg pt-2">Making sure <span class="font-mono">git-lfs</span> is Installed</h3>
        <p>
            To make sure that it's installed, run:
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">git lfs install</pre>
        <h4 class="font-bold text-lg pt-2">Cloning the Repository</h3>
        <p>
          With the tools above installed, you can then clone the repository:
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">git clone https://github.com/penumbra-zone/penumbra</pre>
        <p>
          To build the latest version of <span class="font-mono">pcli</span> compatible with the current testnet,
          you'll have to navigate to the penumbra folder and check out the latest tag:
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">cd penumbra && git fetch --all && git checkout v0.63.1</pre>
        <h4 class="font-bold text-lg pt-2">Building <span class="font-mono">pcli</span></h3>
        <p>
          We can then build <span class="font-mono">pcli</span> using <span class="font-mono">cargo</span>:
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">cargo build --release --bin pcli</pre>
        <p>
          You may see compilation warnings, which you can safely ignore.
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Generating a Wallet</h3>
        <p>
          After installing <span class="font-mono">pcli</span>, you'll need to generate a new wallet to be able
          to receive and send funds. To do this, run the following command:
        </p>
        <pre
            class="text-sm my-8 p-2 bg-charcoal rounded-lg">cargo run --quiet --release --bin pcli init soft-kms generate</pre>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Receiving Faucet Funds</h3>
        <p>
          After setting up a wallet, you can join our <a href="https://discord.gg/hKvkrqa3zC" class="underline">Public
            Discord</a> in
          order to get testnet funds.
        </p>
        <p>
          To do this, you need to first get your address from <span class="font-mono">pcli</span>:
        </p>
        <pre
          class="text-sm my-8 p-2 bg-charcoal rounded-lg">cargo run --quiet --release --bin pcli -- view address</pre>
        <p>
          Then, you can go to the <span class="font-bold">#testnet-faucet</span> channel in the Discord, and paste that
          address to receive funds.
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Contributing</h3>
        <p>
          The coordinator uses the Penumbra testnet to run an anonymous auction for contribution slots.
          At each slot, the connected participant with the highest bid is selected to contribute.
        </p>
        <p>
          To join the queue, use <span class="font-mono">pcli ceremony contribute</span> to place a bid:
        </p>
        <pre
          class="text-sm my-8 p-4 bg-charcoal rounded-lg overflow-x-auto">cargo run --quiet --release --bin pcli -- ceremony contribute --phase {{ phase_number }} --bid {{ min_bid }} --coordinator-address {{ address }}</pre>
        <p>
          The minimum bid for this ceremony is {{ min_bid }}.
        </p>
        <p>
          Once in the queue, you just have to wait until the command completes.
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Sharing your Contribution</h3>
        <p>
          <span class="font-mono">pcli</span> will output your contribution hash after submission.
        </p>
        <p>
          Posting your contribution hash publicly allows others to verify that your contribution was included in the
          transcript!
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Reconnecting and Rebidding</h3>
        <p>
          To change your bid, you can simply run the command again with a different bid amount. Note that each time you
          bid with the command above, this adds additional funds to all of the previous bids you've already submitted.
        </p>
        <p>
          If you get disconnected for some reason, you can simply bid 0penumbra and recover your position in the queue,
          since all of your previous bids have been recorded.
        </p>
      </div>
      <div class="absolute inset-0 z-0 rounded-lg bg-card-radial opacity-20"></div>
    </div>
</body>

</html>
