<!DOCTYPE html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href="/static/index.css" rel="stylesheet">
</head>

<body class="bg-black text-white">
  <div class="p-4 mb-4">
    <a href="/" class="text-2xl font-bold uppercase hover:text-teal">Penumbra Summoning Ceremony</a>
  </div>

  <div class="space-y-8 mx-auto w-3/4">
    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <img class="rounded-lg" src="/static/summoning.jpg"></img>
    </div>
    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <div class="relative z-10 p-4 text-lg">
        <div class="mb-4">
          <a href="/phase/1" class="font-bold text-3xl bg-text-linear bg-clip-text text-transparent mb-4">Phase 1
            Status →</a>
        </div>
        <div>
          {% if phase_number == 1 %}
          <span>Active!</span>
          <span class="font-bold">{{ phase_1_completed }}</span>
          <span>completed,</span>
          <span class="font-bold">{{ phase_1_participants_top_median.as_ref().unwrap().0 }}</span>
          <span>waiting,</span>
          <span>top bid</span>
          <span class="font-mono">{{ phase_1_participants_top_median.as_ref().unwrap().1 }}</span>,
          <span>median bid</span>
          <span class="font-mono">{{ phase_1_participants_top_median.as_ref().unwrap().2 }}</span>
          {% else %}
          <span>Completed, {{ phase_1_completed }} contributions.</span>
          {% endif %}
        </div>
      </div>
      <div class="absolute inset-0 z-0 rounded-lg bg-card-radial opacity-20"></div>
    </div>

    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <div class="relative z-10 p-4 text-lg">
        <div class="mb-4">
          <a href="/phase/2" class="font-bold text-3xl bg-text-linear bg-clip-text text-transparent mb-4">Phase 2
            Status →</a>
        </div>
        <div>
          {% if phase_number == 1 %}
          <span>Waiting for Phase 1...</span>
          {% else %}
          <span>Active!</span>
          <span class="font-bold">{{ phase_2_completed }}</span>
          <span>completed,</span>
          <span class="font-bold">{{ phase_2_participants_top_median.as_ref().unwrap().0 }}</span>
          <span>waiting,</span>
          <span>top bid</span>
          <span class="font-mono">{{ phase_2_participants_top_median.as_ref().unwrap().1 }}</span>,
          <span>median bid</span>
          <span class="font-mono">{{ phase_2_participants_top_median.as_ref().unwrap().2 }}</span>
          {% endif %}
        </div>
      </div>
      <div class="absolute inset-0 z-0 rounded-lg bg-card-radial opacity-20"></div>
    </div>

    <div class="relative bg-charcoal rounded-lg shadow-sm">
      <div class="relative z-10 p-4 space-y-2">
        <h2 class="font-bold text-3xl bg-text-linear bg-clip-text text-transparent">How to Contribute</h2>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Creating a Wallet</h3>
        <p>
          Ceremony contributions require using the command line.
          Follow the <a href="https://guide.penumbra.zone/main/pcli.html" class="underline">Penumbra Guide</a>
          to set up <span class="font-mono">pcli</span> and create a wallet.
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Receiving Faucet Funds</h3>
        <p>
          After setting up a wallet, you can join our <a href="https://discord.gg/hKvkrqa3zC" class="underline">Public
            Discord</a> in
          order to get testnet funds.
        </p>
        <p>
          To do this, you need to first get your address from <span class="font-mono">pcli</span>:
        </p>
        <pre
          class="text-sm my-8 p-2 bg-charcoal rounded-lg">cargo run --quiet --release --bin pcli -- view address</pre>
        <p>
          Then, you can go to the <span class="font-bold">#testnet-faucet</span> channel in the Discord, and paste that
          address to receive funds.
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Contributing</h3>
        <p>
          The coordinator uses the Penumbra testnet to run an anonymous auction for contribution slots.
          At each slot, the connected participant with the highest bid is selected to contribute.
        </p>
        <p>
          To join the queue, use <span class="font-mono">pcli ceremony contribute</span> to place a bid:
        </p>
        <pre
          class="text-sm my-8 p-4 bg-charcoal rounded-lg overflow-x-auto">cargo run --quiet --release --bin pcli -- ceremony contribute --phase {{ phase_number }} --bid {{ min_bid }} --coordinator-address {{ address }}</pre>
        <p>
          The minimum bid for this ceremony is {{ min_bid }}.
        </p>
        <p>
          Once in the queue, you just have to wait until the command completes.
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Sharing your Contribution</h3>
        <p>
          <span class="font-mono">pcli</span> will output your contribution hash after submission.
        </p>
        <p>
          Posting your contribution hash publicly allows others to verify that your contribution was included in the
          transcript!
        </p>
        <h3 class="font-bold text-xl pt-4 bg-text-linear bg-clip-text text-transparent">Reconnecting and Rebidding</h3>
        <p>
          To change your bid, you can simply run the command again with a different bid amount. Note that each time you
          bid with the command above, this adds additional funds to all of the previous bids you've already submitted.
        </p>
        <p>
          If you get disconnected for some reason, you can simply bid 0penumbra and recover your position in the queue,
          since all of your previous bids have been recorded.
        </p>
      </div>
      <div class="absolute inset-0 z-0 rounded-lg bg-card-radial opacity-20"></div>
    </div>
</body>

</html>