# exclude everything by default from container images,
# re-add directories explicitly.
**/
!crates/
!assets/
!Cargo.toml
!Cargo.lock
!.cargo/

# testnets for 'pd testnet generate' defaults
!testnets/
# metrics containers
!deployments/config/
# relayer container
!deployments/relayer/
# summonerd tool, for orchestrating contributions
!tools/summonerd/
