[package]
name = "pmonitor"
description = "Monitoring tool for your Penumbra full-viewing key"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = false

[package.metadata.dist]
dist = true

[features]
network-integration = []
integration-testnet = []

[dependencies]
anyhow = {workspace = true}
camino = {workspace = true}
clap = {workspace = true, features = ["derive", "env"]}
colored = "2.1.0"
directories = {workspace = true}
futures = {workspace = true}
indicatif = {workspace = true}
pcli = {version = "2.1.0", path = "../pcli", default-features = true}
penumbra-sdk-app = {workspace = true}
penumbra-sdk-asset = {workspace = true, default-features = false}
penumbra-sdk-compact-block = {workspace = true, default-features = false}
penumbra-sdk-keys = {workspace = true, default-features = false}
penumbra-sdk-num = {workspace = true, default-features = false}
penumbra-sdk-proto = {workspace = true}
penumbra-sdk-shielded-pool = {workspace = true, default-features = false}
penumbra-sdk-stake = {workspace = true, default-features = false}
penumbra-sdk-tct = {workspace = true, default-features = false}
penumbra-sdk-view = {workspace = true}
regex = {workspace = true}
rustls = {workspace = true}
serde = {workspace = true, features = ["derive"]}
serde_json = {workspace = true}
tokio = {workspace = true, features = ["full"]}
toml = {workspace = true}
tonic = {workspace = true, features = ["tls-webpki-roots", "tls"]}
tracing = {workspace = true}
tracing-subscriber = { workspace = true, features = ["env-filter", "ansi"] }
url = {workspace = true, features = ["serde"]}
uuid = { version = "1.3", features = ["v4", "serde"] }

[dev-dependencies]
assert_cmd = {workspace = true}
once_cell = {workspace = true}
process-compose-openapi-client = "1.40.1"
tempfile = {workspace = true}
