[Unit]
Description=CometBFT for Penumbra

[Service]
ExecStart=/usr/local/bin/cometbft start --home /home/penumbra/.penumbra/testnet_data/node0/cometbft
Restart=no
User=penumbra
# Raise filehandle limit for RPC and P2P connections.
LimitNOFILE=65536

[Install]
WantedBy=default.target
