[Unit]
Description=Tendermint for Penumbra

[Service]
ExecStart=/usr/local/bin/tendermint start --home /home/$USER/.penumbra/testnet_data/node0/tendermint
Restart=on-failure
RestartSec=5
User=$USER

[Install]
WantedBy=default.target
