{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email chris@penumbra.zone
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
{$TESTNET_HOST:localhost} {
    reverse_proxy grafana:3000
}
