[package]
name = "pd"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "The node software for the Penumbra Zone"
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = false
rust-version = "1.75"

[package.metadata.dist]
dist = true

[features]
default = ["download-proving-keys"]
std = ["ibc-types/std"]
download-proving-keys = ["penumbra-sdk-proof-params/download-proving-keys"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
anyhow = "1"

[dependencies]
anyhow                           = { workspace = true }
ark-ff                           = { workspace = true, default-features = true }
async-stream                     = { workspace = true }
async-trait                      = { workspace = true }
axum                             = { workspace = true, features = ["http2"] }
axum-server                      = { workspace = true, features = ["tls-rustls"] }
base64                           = { workspace = true }
bincode                          = { workspace = true }
blake2b_simd                     = { workspace = true }
bytes                            = { workspace = true }
chrono                           = { workspace = true, default-features = false, features = ["serde"] }
clap                             = { workspace = true, features = ["derive", "env"] }
cnidarium                        = { workspace = true, features = ["migration", "rpc"], default-features = true }
csv                              = "1.1"
decaf377                         = { workspace = true, features = ["parallel"], default-features = true }
decaf377-rdsa                    = { workspace = true }
directories                      = { workspace = true }
ed25519-consensus                = { workspace = true }
flate2                           = "1.0.28"
fs_extra                         = "1.3.0"
futures                          = { workspace = true }
hex                              = { workspace = true }
http                             = { workspace = true }
ibc-proto                        = { workspace = true, default-features = false, features = ["server"] }
ibc-types                        = { workspace = true, default-features = true }
ics23                            = { workspace = true }
jmt                              = { workspace = true }
metrics                          = { workspace = true }
metrics-exporter-prometheus      = { workspace = true }
metrics-process                  = "2.4.0"
metrics-tracing-context          = { workspace = true }
metrics-util                     = "0.18.0"
mime_guess                       = "2"
once_cell                        = { workspace = true }
pbjson-types                     = { workspace = true }
penumbra-sdk-app                     = { workspace = true, default-features = true }
penumbra-sdk-asset                   = { workspace = true, default-features = true }
penumbra-sdk-auto-https              = { version = "2.1.0", path = "../../util/auto-https" }
penumbra-sdk-compact-block           = { workspace = true, default-features = true }
penumbra-sdk-custody                 = { workspace = true }
penumbra-sdk-auction                 = { workspace = true, features = ["parallel"], default-features = true }
penumbra-sdk-dex                     = { workspace = true, features = ["parallel"], default-features = true }
penumbra-sdk-fee                     = { workspace = true, default-features = true }
penumbra-sdk-governance              = { workspace = true, features = ["parallel"], default-features = true }
penumbra-sdk-ibc                     = { workspace = true, features = ["rpc"], default-features = true }
penumbra-sdk-keys                    = { workspace = true, default-features = true }
penumbra-sdk-num                     = { workspace = true, default-features = true }
penumbra-sdk-proto                   = { workspace = true, default-features = true }
penumbra-sdk-sct                     = { workspace = true, default-features = true }
penumbra-sdk-shielded-pool           = { workspace = true, features = ["parallel"], default-features = true }
penumbra-sdk-stake                   = { workspace = true, features = ["parallel"], default-features = true }
penumbra-sdk-tct                     = { workspace = true, default-features = true }
penumbra-sdk-tendermint-proxy        = { version = "2.1.0", path = "../../util/tendermint-proxy" }
penumbra-sdk-tower-trace             = { workspace = true }
penumbra-sdk-transaction             = { workspace = true, default-features = true }
pin-project                      = { workspace = true }
pin-project-lite                 = { workspace = true }
prost                            = { workspace = true }
prost-types                      = { workspace = true }
rand                             = { workspace = true }
rand_chacha                      = { workspace = true }
rand_core                        = { workspace = true, features = ["getrandom"] }
regex                            = { workspace = true }
reqwest                          = { workspace = true }
rocksdb                          = { workspace = true }
rustls                           = { workspace = true }
serde                            = { workspace = true, features = ["derive"] }
serde_json                       = { workspace = true }
serde_with                       = { workspace = true, features = ["hex"] }
sha2                             = { workspace = true }
tar                              = "0.4.40"
tempfile                         = { workspace = true }
tendermint                       = { workspace = true }
tendermint-config                = { workspace = true }
tendermint-light-client-verifier = { workspace = true }
tendermint-proto = { workspace = true }
tendermint-rpc = { workspace = true, features = ["http-client"] }
tokio = { workspace = true, features = ["full"] }
tokio-stream = { workspace = true }
tokio-util = { workspace = true, features = ["compat"] }
toml = { workspace = true }
tonic = { workspace = true }
tonic-reflection = { workspace = true }
tonic-web = { workspace = true }
tower = { workspace = true, features = ["full"] }
tower-abci = "0.18"
tower-actor = "0.1.0"
tower-http = { workspace = true, features = ["cors", "trace"] }
tower-service = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "ansi"] }
url = { workspace = true }
zip = "0.6"

[dev-dependencies]
penumbra-sdk-proof-params = { workspace = true, features = [
    "bundled-proving-keys",
    "download-proving-keys",
], default-features = true }
assert_cmd = { workspace = true }
predicates = "2.1"
prost-reflect = "0.14.3"
regex = { workspace = true }
rstest = { workspace = true }
