# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Flat files generated for testnet, but not used in interpolation.
# We selectively omit these to stay under the 1MB limit for Secrets.
pdcli/node0/
pdcli/node1/
pdcli/vals.json

pdcli/.penumbra/testnet_data/node0/tendermint/data/
pdcli/.penumbra/testnet_data/node0/tendermint/config/config.toml
pdcli/.penumbra/testnet_data/node0/tendermint/config/genesis.json
pdcli/.penumbra/testnet_data/node0/pd/

pdcli/.penumbra/testnet_data/node1/tendermint/data/
pdcli/.penumbra/testnet_data/node1/tendermint/config/config.toml
pdcli/.penumbra/testnet_data/node1/tendermint/config/genesis.json
pdcli/.penumbra/testnet_data/node1/pd/
