[package]
name = "penumbra-view"
version = {workspace = true}
authors = {workspace = true}
edition = {workspace = true}
description = "The view RPC library for the Penumbra Zone"
repository = {workspace = true}
homepage = {workspace = true}
license = {workspace = true}
publish = false

[features]
default = ["std"]
# When this feature is enabled, the view worker will request every single
# SCT root, to pinpoint exactly where any SCT root divergence occurs.
sct-divergence-check = []
std = ["ark-std/std"]

[dependencies]
anyhow = {workspace = true}
ark-std = {workspace = true, default-features = false}
async-stream = {workspace = true}
async-trait = {workspace = true}
bytes = {workspace = true, features = ["serde"]}
camino = {workspace = true}
decaf377 = {workspace = true, features = ["r1cs"], default-features = true}
digest = "0.9"
ed25519-consensus = {workspace = true}
futures = {workspace = true}
genawaiter = "0.99"
hex = {workspace = true}
ibc-types = {workspace = true, default-features = false}
metrics = {workspace = true}
once_cell = {workspace = true}
parking_lot = {workspace = true}
penumbra-app = {workspace = true}
penumbra-asset = {workspace = true, default-features = true}
penumbra-community-pool = {workspace = true, default-features = false}
penumbra-compact-block = {workspace = true, default-features = false}
penumbra-dex = {workspace = true, default-features = false}
penumbra-distributions = {workspace = true, default-features = false}
penumbra-fee = {workspace = true, default-features = false}
penumbra-funding = {workspace = true, default-features = false}
penumbra-governance = {workspace = true, default-features = false}
penumbra-ibc = {workspace = true, default-features = false}
penumbra-keys = {workspace = true, default-features = true}
penumbra-num = {workspace = true, default-features = true}
penumbra-proto = {workspace = true, features = ["rpc"], default-features = true}
penumbra-sct = {workspace = true, default-features = false}
penumbra-shielded-pool = {workspace = true, default-features = false}
penumbra-stake = {workspace = true, default-features = false}
penumbra-tct = {workspace = true, default-features = true}
penumbra-transaction = {workspace = true, default-features = true}
prost = {workspace = true}
r2d2 = {workspace = true}
r2d2_sqlite = {workspace = true, features = ["bundled"]}
rand = {workspace = true}
rand_core = {workspace = true, features = ["getrandom"]}
serde = {workspace = true, features = ["derive"]}
serde_json = {workspace = true}
sha2 = {workspace = true}
tendermint = {workspace = true}
tokio = {workspace = true, features = ["full"]}
tokio-stream = {workspace = true, features = ["sync"]}
tonic = {workspace = true}
tracing = {workspace = true}
tracing-subscriber = {workspace = true}
url = {workspace = true}
