name: Update protobuf docs
# We want to rebuild on every commit to main, and also for named testnet tags,
# so that API users can pick a tagged version of the protobuf definitions
# to use against a matching testnet.
on:
  push:
    branches:
      - main
    tags:
      - '**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bufbuild/buf-setup-action@v1
        with:
          buf_api_token: ${{ secrets.BUF_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          input: 'crates/proto'
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: 'crates/proto'

      # N.B. We don't check for breaking changes here, because we do so per-PR, and notify there.
      # Occasionally we'll make breaking changes, the PR CI is notification enough of that.
      # We still want to publish the resulting changes to the BSR.

      - uses: bufbuild/buf-push-action@v1
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}
          input: 'crates/proto/proto'
