name: Render and Deploy Docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:

  build:
    name: Render and deploy protocol and API docs
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          # Use nightly rust for docs, so that we can use the unstable
          # --enable-index-page option to generate a list of the workspace crates.
          toolchain: nightly
          override: true
      - name: Load Rust caching
        uses: Swatinem/rust-cache@v1
      - name: Load get-version action to grab version component of deployment path
        uses: battila7/get-version-action@v2
        id: get_version
      - name: Install mdbook
        run: |
          cargo install mdbook mdbook-katex mdbook-mermaid

      - name: Build API docs
        env:
          RUSTDOCFLAGS: "--enable-index-page -Zunstable-options"
        run: |
          # Explicitly specify which crates should be included.
          # Guidelines:
          # - workspace crates are included
          # - git dependencies are included
          # - published crates are excluded
          # Doing this in one go is useful because the JSON file with search
          # indexes is overwritten on each cargo doc invocation.
          # (The version specifier for tendermint avoids ambiguity from multiple
          # package versions but will break in the future).
          cargo doc --no-deps \
            -p tendermint:0.23.5 \
            -p tower-abci \
            -p incrementalmerkletree \
            -p jmt \
            -p ark-ff \
            -p ark-serialize \
            -p ark-sponge \
            -p poseidon377 \
            -p decaf377 \
            -p decaf377-ka \
            -p decaf377-rdsa \
            -p decaf377-fmd \
            -p penumbra-proto \
            -p penumbra-crypto \
            -p penumbra-stake \
            -p penumbra-chain \
            -p penumbra-tct \
            -p penumbra-transaction \
            -p penumbra-wallet \
            -p penumbra-wallet-next \
            -p pd \
            -p pcli \
            -p pcli-next
      - name: Move API docs to subdirectory
        run: |
          cd docs/rustdoc
          if [ -d "firebase-tmp" ]; then rm -rf firebase-tmp; fi
          mkdir firebase-tmp
          mv ../../target/doc firebase-tmp/${{ steps.get_version.outputs.version }}
      - name: Deploy API docs to firebase
        uses: w9jds/firebase-action@v2.0.0
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: penumbra-doc
          PROJECT_PATH: docs/rustdoc

      - name: Build protocol spec
        run: |
          cd docs/protocol && mdbook build
      - name: Move protocol spec to subdirectory
        run: |
          cd docs/protocol
          if [ -d "firebase-tmp" ]; then rm -rf firebase-tmp; fi
          mkdir firebase-tmp
          mv book firebase-tmp/${{ steps.get_version.outputs.version }}
      - name: Deploy notes to firebase
        uses: w9jds/firebase-action@v2.0.0
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: penumbra-protocol
          PROJECT_PATH: docs/protocol
