name: Render and Deploy Docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:

  build:
    name: Render and deploy protocol and API docs
    timeout-minutes: 30
    runs-on: buildjet-16vcpu-ubuntu-2204
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Load Rust caching
        uses: astriaorg/buildjet-rust-cache@v2.5.1

      # Previously we used a GHA helper to look up the version, which was overkill.
      # Let's still log the version of the docs we intend to build.
      - name: Print version component of deployment path
        run: echo ${{ github.event.inputs.image_tag || github.ref_name }}

      # Ostensibly building from source, but the cache-loading above
      # ensures we don't need to rebuild frequently.
      - name: Install mdbook dependencies
        # Make sure to install with `+nightly`, because that's the toolchain we'll use for building docs.
        run: cargo +nightly install mdbook mdbook-katex mdbook-mermaid mdbook-linkcheck

      - name: Build software guide
        run: cd docs/guide && mdbook build

      - name: Move software guide to subdirectory
        run: |
          cd docs/guide
          rm -rf firebase-tmp
          mkdir firebase-tmp
          mv book/html firebase-tmp/${{ github.event.inputs.image_tag || github.ref_name }}
          tree firebase-tmp

      - name: Deploy software guide to firebase
        uses: w9jds/firebase-action@v12.9.0
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: penumbra-guide
          PROJECT_PATH: docs/guide

      - name: Build protocol spec
        run: cd docs/protocol && mdbook build

      - name: Move protocol spec to subdirectory
        run: |
          cd docs/protocol
          rm -rf firebase-tmp
          mkdir firebase-tmp
          mv book/html firebase-tmp/${{ github.event.inputs.image_tag || github.ref_name }}
          tree firebase-tmp

      - name: Deploy protocol spec to firebase
        uses: w9jds/firebase-action@v12.9.0
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: penumbra-protocol
          PROJECT_PATH: docs/protocol

      - name: Build rustdocs
        run: ./deployments/scripts/rust-docs
      - name: Move API docs to subdirectory
        run: |
          cd docs/rustdoc
          if [ -d "firebase-tmp" ]; then rm -rf firebase-tmp; fi
          mkdir firebase-tmp
          mv ../../target/doc firebase-tmp/${{ github.event.inputs.image_tag || github.ref_name }}
          # Copy in the static index file
          cp index.html firebase-tmp/${{ github.event.inputs.image_tag || github.ref_name }}

      - name: Deploy API docs to firebase
        uses: w9jds/firebase-action@v12.9.0
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: penumbra-doc
          PROJECT_PATH: docs/rustdoc
