name: Smoke Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  smoke_test:
    runs-on: buildjet-16vcpu-ubuntu-2204
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    environment: smoke-test
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Load rust cache
        uses: astriaorg/buildjet-rust-cache@v2.5.1

      - name: Install cometbft binary
        run: ./deployments/scripts/install-cometbft

      - name: Run the smoke test suite
        run: |
          export PATH="$HOME/bin:$PATH"
          ./deployments/scripts/smoke-test.sh

       - name: Display comet logs
         if: always()
         run: cat comet.log

       - name: Display pd logs
         if: always()
         run: cat pd.log

       - name: Display pclientd logs
         if: always()
         run: cat pclientd.log

       - name: Display pcli logs
         if: always()
         run: cat pcli.log

        env:
          TESTNET_RUNTIME: 2m
