[package]
name = "penumbra-sdk-tct-visualize"
authors = {workspace = true}
repository = {workspace = true}
description = "Visualize a TCT in action"
version = {workspace = true}
license = {workspace = true}
edition = {workspace = true}
publish = false

[package.metadata.dist]
dist = false

[[bin]]
name = "tct-visualize"

[[bin]]
name = "tct-live-edit"

[dependencies]
penumbra-sdk-tct = {workspace = true, features = ["arbitrary"], default-features = true}
decaf377 = {workspace = true}
tokio = {workspace = true, features = ["full"]}
tokio-util = {workspace = true, features = ["full"]}
tonic = {workspace = true}
prost = {workspace = true}
tokio-stream = {workspace = true}
axum = {workspace = true }
# TODO: consider using the Query extractor provided by axum-extra
axum-extra = {workspace = true, features = ["typed-header"] }
axum-server = {workspace = true, features = ["tls-rustls"]}
serde_json = {workspace = true, features = ["preserve_order"]}
include-flate = { version = "0.1", features = ["stable"] }
bytes = {workspace = true}
parking_lot = {workspace = true}
rand = {workspace = true}
serde = {workspace = true}
futures = {workspace = true}
serde_urlencoded = "0.7"
clap = {workspace = true, features = ["derive"]}
tower-http = {workspace = true, features = ["trace"]}
anyhow = {workspace = true}
rand_distr = "0.4"
tracing-subscriber = {workspace = true}
hex = {workspace = true}
rand_chacha = {workspace = true}
